*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    width: 1680px;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
form input {
    margin-right: 600px;
    margin: 5px 0; 
}